@import url(https://db.onlinewebfonts.com/c/2adbeea25e4c3a9e9ba6031bbfb45343?family=Linotte-SemiBold);

:root {
  --color-f: #c1ccd5;
  --color-p: #b0d8ff;
  --color-s: #90b8eb;
  --color-z: #484c56;
  --color-y: #565c68;
}
/*
:root {
  --color-f: #4c566a;
  --color-p: #81a1c1;
  --color-s: #729acb;
  --color-y: #d8dee9;
  --color-z: #eceff4;
}
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.3s ease-out;
  outline: none;
  -ms-overflow-style: none; /* IE e Edge */
  scrollbar-width: none; /* Firefox */
}

*:not(.katex-display *, .hljs) {
  font-family: "Linotte-SemiBold";
}

*::-webkit-scrollbar {
  display: none;
}
::selection {
  background-color: var(--color-z);
  color: var(--color-s);
}

/* Estilos gerais */
body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-z);
  color: var(--color-f);
  overflow: hidden;
}

header,
nav {
  display: flex;
  align-items: center;
  width: 100%;
  height: 4.5rem;
  padding: 0 2rem;
  background-color: var(--color-z);
  border-bottom: 0.2rem solid var(--color-y);
}

header {
  padding-top: 0.5rem;
  flex-direction: row;
  justify-content: space-between;
}

blockquote {
  padding-left: 0.6rem;
  border-left: 0.3rem solid var(--color-p);
}

nav {
  justify-content: space-between;
  border-bottom: none;
}

.hljs {
  background: var(--color-y);
  color: var(--color-f);
}

.hljs-comment {
  color: var(--color-f);
  opacity: 0.4;
}

.pie {
  --w: 6rem; /* Ajuste a largura conforme necessário */
  width: var(--w);
  height: var(--w); /* Mantém a proporção 1:1 */
  aspect-ratio: 1;
  display: inline-grid;
  place-content: center;
  margin: 1rem;
  font-size: 25px;
  font-weight: bold;
  font-family: sans-serif;
  position: relative; /* Adiciona posição relativa */
}

.pie:before {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 0;
  background: conic-gradient(var(--color-p) calc(var(--p) * 1%), var(--color-y) 0);
  transform: scaleX(-1); /* Inverte horizontalmente */
}

.pie:after {
  content: "";
  position: absolute;
  transform: scale(115%);
  border-radius: 50%;
  inset: 0;
  background: transparent;
  border: 0.2rem solid var(--color-p);
}

code {
  background: var(--color-y);
  color: var(--color-f);
  padding: 0.3rem;
  border-radius: 0.4rem;
}

#search {
  padding: 0.8rem;
  background-color: var(--color-y);
  height: 50%;
  border: none;
  border-radius: 0.5rem;
  left: 0;
  color: var(--color-f);
}

editor,
galery,
main {
  display: flex;
  flex: 1;
  overflow: hidden;
}

#markdown,
#preview,
galery,
.card {
  flex: 1;
  width: 100%;
  padding: 2rem;
  background-color: var(--color-z);
  border: none;
  color: var(--color-f);
}

#markdown {
  resize: none;
}

#preview,
galery {
  overflow-y: scroll;
}

galery {
  padding: 0 2rem;
  display: none;
}

#preview *:not(.katex-display *) {
  margin: 1rem 0;
}

.mkmedia,
.card {
  position: relative;
  margin: 2rem 0;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  box-shadow: 0 0 0.5rem #0000001e;
  border-radius: 1rem;
}

.card {
  width: 100%;
  height: 20rem;
  background-color: var(--color-y);
  overflow-y: hidden;
  padding: 1rem;
}

.card * {
  margin: 0.5rem 0;
}

.card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(to bottom, #ffffff00 0%, var(--color-y) 95%);
}

h1,
h2,
h3,
h4,
h4 {
  text-align: start;
}

strong {
  color: var(--color-p);
}

a {
  color: var(--color-s);
}

table {
  width: 100%;
  margin: 20px auto;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
thead {
  background-color: var(--color-p);
  color: var(--color-y);
}
th,
td {
  padding: 15px;
  text-align: left;
}
tbody {
  background-color: var(--color-y);
  color: var(--color-f);
}

pre {
  background-color: var(--color-y);
  color: var(--color-f);
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

hr {
  background-color: transparent;
  border: 2px dashed var(--color-f);
  border-radius: 5px;
  width: 100%;
  margin: 20px auto;
  opacity: 0.3;
}

::placeholder {
  color: var(--color-f);
  opacity: 0.6;
}

@keyframes shake {
  0%,
  100% {
    transform: rotate(0deg) scale(1.3);
  }
  25% {
    transform: rotate(5deg) scale(1.4);
  }
  50% {
    transform: rotate(-5deg) scale(1.5);
  }
  75% {
    transform: rotate(5deg) scale(1.4);
  }
}

/* Estilos para navegação */
.navi {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navi:first-child {
  border-left: none;
}

.duoicon {
  transform: scale(1.3);
  color: var(--color-f);
}

.navi:hover .duoicon {
  color: var(--color-p);
  animation: shake 0.5s;
}

/* Estilos para tela retrato */
@media (orientation: portrait) {
  editor {
    flex-direction: column-reverse;
  }
  main {
    flex-direction: column;
  }
  nav {
    border-top: 0.2rem solid var(--color-y);
    justify-content: space-between;
    border-left: none;
  }
  .navi {
    border-left: 0.2rem solid var(--color-y);
  }
  #markdown {
    border-bottom: 0.2rem solid var(--color-y);
  }
}

/* Estilos para tela paisagem */
@media (orientation: landscape) {
  nav {
    flex-direction: column;
    align-items: stretch;
    width: 6rem;
    height: 100%;
    border-right: 0.2rem solid var(--color-y);
  }
  .navi {
    border-top: 0.2rem solid var(--color-y);
  }
  .navi:first-child {
    border-top: none;
  }
  main {
    flex-direction: row;
  }
  #markdown {
    border-right: 0.2rem solid var(--color-y);
  }
}
